/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
    textarea {
       resize: none;
    }
    .invalido {
    border: 1px solid #f4524d !important;
    }
    .btn-gradient > .btn, .btn-gradient.btn {
      background: linear-gradient(135deg,#E63946 0,#1D3557 80%);
      color: #FFF;
  }
  body {
   font-family: Poppins,sans-serif !important;
   font-weight: 400;
   font-size: 14px;
   line-height: 26px;
   letter-spacing: 0;
}
.loader {
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #282c34;
   width: 120px;
   height: 120px;
   -webkit-animation: spin 1.5s linear infinite; /* Safari */
   animation: spin 1.5s linear infinite;
 }
 
 /* Safari */
 @-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

 .ajs-message{
   color: white;
 }